@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
}

body{
    background:rgb(235, 235, 235);
    display:flex;
    flex-direction: column;
}

.containerHeader {
    height: 100px;
    background: rgb(37, 37, 37);

}

.containerHeader nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    
}
.imgLogo {
    width: 100px;
    height: 100px;
}
.cta-contact{
    width: 120px;
    height: 3vw;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    flex-direction: row-reverse;
}
.containerMain-1{
    align-items: center;
    width: 88%;
}

h1{
    text-align: center;
    font-size: 30px;
    color:rgb(38, 37, 40);
    margin-top: 100px;
    font-style: normal;
    font-weight: 400;

}


.containerAside{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 20px;
    align-content:center;
    justify-content: space-around;
    height: 1000px;
    width: 12%;
    background: rgb(37, 37, 37);   
}


h2 {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

